*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

.hero-container{
    background-color:rgb(127, 195, 195);
}
.hero-title{
    text-align: center;
    padding:100px;
    background-color: rgb(119, 250, 250);
    margin:0 10px 10px 10px;
}

.paragraph-acf{
    text-align: justify;
    padding:50px;
    background-color: rgb(119, 250, 250);
    margin:0 10px 10px 10px;
}

.image-container{
    display: flex;
    justify-content: center;
    margin:0 10px 10px 10px;

    .hero-image{
      height: 300px;
      width: 900px;
    }

}
